html {
    min-height: 100%;
   }
   
   body {
    background: linear-gradient(rgb(200 230 255), lightSteelBlue);
    font-family: arial;
    text-align: center;
   }
   
   button {
    margin: 0 0 50px 0;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 1px;
   }
   
   a {
    color: inherit;
   }
   
   img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
   }
   
   h2 {
    margin: 0 0 0 0;
   }
   
   h1 {
    margin: 0 0 0 0;
   }