html {
    min-height: 100%;
   }
   
body {
    background: linear-gradient(rgb(200 230 255), lightSteelBlue);
    font-family: arial;
    text-align: center;
    width: 100%;
    margin: auto;
}
   
img {
    margin: 0 0 0 0;
    height: 150px;
}
   
button {
    margin: 0 0 5px 0;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 1px;
}
   
a {
    color: inherit;
}

div {
    width: 60%;
    margin: auto;
}
   
.yt {
    border: solid 3px rgb(255 100 100);
    background: rgb(255 155 155);
}
 
.ytHover {
    border: solid 3px rgb(235 80 80);
    background: rgb(235 135 135);
}
 
.dc {
    border: solid 3px rgb(100 100 255);
    background: rgb(155 155 255);
}
 
.dcHover {
    border: solid 3px rgb(80 80 235);
    background: rgb(135 135 235);
}
  
.twt {
    border: solid 3px rgb(130 145 255);
    background: rgb(185 200 255);
}

.twtHover {
    border: solid 3px rgb(110 125 235);
    background: rgb(165 180 235);
}